form{background-color: rgb(214, 98, 98);border-radius: 20px;width: 350px;padding-top: 30px;padding-bottom: 50px;box-shadow: 10px 10px 10px;}
table td {padding-top: 20px;}
input[type="submit"] {background-color: rgb(214, 98, 98);}
